{% extends "base.html"%}
{% load crispy_forms_tags  %}
{% block maincontent %}

<style>
	.myDiv {
	  border: 5px outset whitesmoke(253, 252, 156);
	  background-color: whitesmoke;
	  height: 400px;	  
  width: 35%;  
  overflow: scroll; 
	  text-align: center;
	}
	</style> 


    <div class="container py-5"  enctype="multipart/form-data">
        <div class="myDiv">
            <div class="alert alert-dark" role="alert" >
        <h1> Change Password</h1>
        </div>
        <table>
        <form method="POST"  enctype="multipart/form-data">
            
            {% csrf_token %}
            {{form|crispy}}   
    </div>
    
<br>
<button class="btn btn-outline-warning"  type="submit" >Change</button>

    </table>

   
</form>


{% endblock %}