{% extends "base.html"%}
{% load crispy_forms_tags  %}
{% block maincontent %}

<style>
	.myDiv {
        background-color: #2f4353;
background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
  border: 5px outset rgb(216, 253, 130);
  height: 400px;
  width: 100%;
  overflow: scroll; 
  	  text-align: center;
	}
	</style> 

    <div class="container py-5"  enctype="multipart/form-data">
        <div class="myDiv">
        <h1> Chat Box</h1>
        <br>
        <table>
        <form method="POST"  enctype="multipart/form-data">
            
            {% csrf_token %}
            {{form|crispy}}   
    </div>
    
<br>
<button class="btn btn-outline-warning"  type="submit" >Send Message</button>

    </table>

   
</form>


{% endblock %}